
.icon-briefcase:before { content: '\e800'; } /* '' */
.icon-user:before { content: '\e801'; } /* '' */
.icon-camera:before { content: '\e802'; } /* '' */
.icon-globe:before { content: '\e803'; } /* '' */
.icon-laptop:before { content: '\f109'; } /* '' */
.icon-puzzle:before { content: '\f12e'; } /* '' */
.icon-graduation-cap:before { content: '\f19d'; } /* '' */
.icon-soccer-ball:before { content: '\f1e3'; } /* '' */